/*<---  Variable  --->*/

:root {
  --button-color: #2196f3;
}
:root {
  --text-color: #212121;
}
:root {
  --main-text: #757575;
}
:root {
  --background-text: #fff;
}
:root {
  --button-background: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
ul {
  list-style: none;
}
footer {
  background-color: var(--text-color);
}
head {
  display: flex;
}

/*<---  HEAD  --->*/

.site-nav {
  font-size: 14px;
  line-height: 1.14;
}
.logo + .site-nav {
  display: flex;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
  text-decoration: none;
  color: var(--text-color);
}
.site-nav .link {
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 2%;
  text-decoration: none;
  list-style: none;
}
.nav-adress .adress {
  color: var(--main-text);
  line-height: 1.18;
  text-decoration: none;
  font-style: Medium;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 2%;
  list-style: none;
  text-decoration: none;
}
.site-nav .link:hover {
  color: var(--button-color);
}
.nav-adress .adress:hover {
  color: var(--button-color);
}

/* <---   Body   --->*/

.title {
  text-align: center;
  background-color: var(--text-color);
}
.title .main-title {
  color: var(--background-text);
  text-align: center;
  font-style: Black;
  font-size: 44px;
  line-height: 1.5;
  line-height: 116%;
  vertical-align: Top;
  letter-spacing: 6%;
}
.title-button {
  color: var(--background-text);
  background-color: var(--button-color);
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
}
.button-text {
  color: var(--background-text);
  font-style: Bold;
  font-size: 16px;
  line-height: 1.87;
  line-height: 160%;
  vertical-align: Center;
  letter-spacing: 6%;
}
.filter-button {
  background-color: var(--button-background);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  border-radius: 4px;
  width: 128px;
  height: 38px;
}
.filter-button .button-text {
  font-style: Medium;
  font-size: 16px;
  line-height: 1.62;
  line-height: 139%;
  vertical-align: Top;
  letter-spacing: 3%;
  text-align: center;
  color: var(--text-color);
}
.section .section-title {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-style: Bold;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
}
.pers {
  box-sizing: border box;
  width: 1600px;
  height: 648px;
}
.crew {
  display: flex;
  justify-content: center;
  margin-right: 130px;
}
.section .title-description {
  color: var(--main-text);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  line-height: 146%;
  vertical-align: Top;
  letter-spacing: 3%;
}
.filter .catalog-img .catalog-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  line-height: 171%;
  vertical-align: Top;
  letter-spacing: 6%;
}
.filter .catalog-img .catalog-specifics {
  font-size: 16px;
  line-height: 1.87;
  font-family: "Roboto";
  font-style: "Regular";
  line-height: 30px;
  line-height: 160%;
  vertical-align: Top;
  letter-spacing: 3%;
}
.h2-title {
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.pers .employee .name {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
  text-align: center;
}
.pers .employee .work {
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-text);
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
  text-align: center;
}
.color-title {
  color: var(--button-color);
}
.pers .employee {
  background-color: var(--button-background);
}

/*<---  Footer  -->*/

.location {
  font-family: "Roboto";
  font-style: "Regular";
  font-size: 14px;
  line-height: 24px;
  line-height: 146%;
  vertical-align: Top;
  letter-spacing: 3%;
  text-decoration: none;
  color: var(--background-text);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
  text-decoration: none;
  color: var(--background-text);
}
.footer-adress {
  color: var(--background-text);
}
.filter-button:hover {
  background-color: var(--button-color);
  color: var(--background-color);
}
.color-footer {
  color: var(--button-color);
}
